<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>toba.sessions.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>toba.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomer</servlet-name>
        <servlet-class>toba.servlets.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>toba.servlets.ReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>toba.servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>toba.servlets.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomer</servlet-name>
        <url-pattern>/NewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/ReportsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>404</exception-type>
        <location>/Error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>404</exception-type>
        <location>/Errors/Error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Errors/Error_java.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>jdbc//jba</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
